<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.dao.ComplainMapper" >
  <resultMap id="BaseResultMap" type="com.pms.pojo.Complain" >
    <id column="complain_id" property="complainId" jdbcType="INTEGER" />
    <result column="complain_content" property="complainContent" jdbcType="VARCHAR" />
    <result column="complain_time" property="complainTime" jdbcType="TIMESTAMP" />
    <result column="complain_handle_time" property="complainHandleTime" jdbcType="TIMESTAMP" />
    <result column="complain_handle_result" property="complainHandleResult" jdbcType="VARCHAR" />
    <result column="owners_id" property="ownersId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    complain_id, complain_content, complain_time, complain_handle_time, complain_handle_result, 
    owners_id, admin_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from complain
    where complain_id = #{complainId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from complain
    where complain_id = #{complainId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pms.pojo.Complain" >
    insert into complain (complain_id, complain_content, complain_time, 
      complain_handle_time, complain_handle_result, 
      owners_id, admin_id)
    values (#{complainId,jdbcType=INTEGER}, #{complainContent,jdbcType=VARCHAR}, #{complainTime,jdbcType=TIMESTAMP}, 
      #{complainHandleTime,jdbcType=TIMESTAMP}, #{complainHandleResult,jdbcType=VARCHAR}, 
      #{ownersId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pms.pojo.Complain" >
    insert into complain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="complainId != null" >
        complain_id,
      </if>
      <if test="complainContent != null" >
        complain_content,
      </if>
      <if test="complainTime != null" >
        complain_time,
      </if>
      <if test="complainHandleTime != null" >
        complain_handle_time,
      </if>
      <if test="complainHandleResult != null" >
        complain_handle_result,
      </if>
      <if test="ownersId != null" >
        owners_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="complainId != null" >
        #{complainId,jdbcType=INTEGER},
      </if>
      <if test="complainContent != null" >
        #{complainContent,jdbcType=VARCHAR},
      </if>
      <if test="complainTime != null" >
        #{complainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="complainHandleTime != null" >
        #{complainHandleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="complainHandleResult != null" >
        #{complainHandleResult,jdbcType=VARCHAR},
      </if>
      <if test="ownersId != null" >
        #{ownersId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pms.pojo.Complain" >
    update complain
    <set >
      <if test="complainContent != null" >
        complain_content = #{complainContent,jdbcType=VARCHAR},
      </if>
      <if test="complainTime != null" >
        complain_time = #{complainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="complainHandleTime != null" >
        complain_handle_time = #{complainHandleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="complainHandleResult != null" >
        complain_handle_result = #{complainHandleResult,jdbcType=VARCHAR},
      </if>
      <if test="ownersId != null" >
        owners_id = #{ownersId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
    </set>
    where complain_id = #{complainId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pms.pojo.Complain" >
    update complain
    set complain_content = #{complainContent,jdbcType=VARCHAR},
      complain_time = #{complainTime,jdbcType=TIMESTAMP},
      complain_handle_time = #{complainHandleTime,jdbcType=TIMESTAMP},
      complain_handle_result = #{complainHandleResult,jdbcType=VARCHAR},
      owners_id = #{ownersId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER}
    where complain_id = #{complainId,jdbcType=INTEGER}
  </update>
</mapper>