<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.dao.OwnerMapper" >
  <resultMap id="BaseResultMap" type="com.pms.pojo.Owner" >
    <id column="owners_id" property="ownersId" jdbcType="INTEGER" />
    <result column="owners_email" property="ownersEmail" jdbcType="VARCHAR" />
    <result column="owners_password" property="ownersPassword" jdbcType="VARCHAR" />
    <result column="owners_name" property="ownersName" jdbcType="VARCHAR" />
    <result column="owners_sex" property="ownersSex" jdbcType="VARCHAR" />
    <result column="owners_phone" property="ownersPhone" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
  </resultMap>
  
  
  <select id="selectByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from owners where owners_email = #{ownersEmail, jdbcType=VARCHAR}
  </select>
  
  <insert id="insertByRegister" parameterType="com.pms.pojo.Owner" >
    insert into owners (owners_email, owners_password, room_id)
    values (#{ownersEmail,jdbcType=VARCHAR}, #{ownersPassword,jdbcType=VARCHAR}, 
      		#{roomId,jdbcType=INTEGER})
  </insert>  
  
  
  <sql id="Base_Column_List" >
    owners_id, owners_email, owners_password, owners_name, owners_sex, owners_phone, 
    room_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from owners
    where owners_id = #{ownersId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from owners
    where owners_id = #{ownersId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pms.pojo.Owner" >
    insert into owners (owners_id, owners_email, owners_password, 
      owners_name, owners_sex, owners_phone, 
      room_id)
    values (#{ownersId,jdbcType=INTEGER}, #{ownersEmail,jdbcType=VARCHAR}, #{ownersPassword,jdbcType=VARCHAR}, 
      #{ownersName,jdbcType=VARCHAR}, #{ownersSex,jdbcType=VARCHAR}, #{ownersPhone,jdbcType=VARCHAR}, 
      #{roomId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pms.pojo.Owner" >
    insert into owners
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ownersId != null" >
        owners_id,
      </if>
      <if test="ownersEmail != null" >
        owners_email,
      </if>
      <if test="ownersPassword != null" >
        owners_password,
      </if>
      <if test="ownersName != null" >
        owners_name,
      </if>
      <if test="ownersSex != null" >
        owners_sex,
      </if>
      <if test="ownersPhone != null" >
        owners_phone,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ownersId != null" >
        #{ownersId,jdbcType=INTEGER},
      </if>
      <if test="ownersEmail != null" >
        #{ownersEmail,jdbcType=VARCHAR},
      </if>
      <if test="ownersPassword != null" >
        #{ownersPassword,jdbcType=VARCHAR},
      </if>
      <if test="ownersName != null" >
        #{ownersName,jdbcType=VARCHAR},
      </if>
      <if test="ownersSex != null" >
        #{ownersSex,jdbcType=VARCHAR},
      </if>
      <if test="ownersPhone != null" >
        #{ownersPhone,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pms.pojo.Owner" >
    update owners
    <set >
      <if test="ownersEmail != null" >
        owners_email = #{ownersEmail,jdbcType=VARCHAR},
      </if>
      <if test="ownersPassword != null" >
        owners_password = #{ownersPassword,jdbcType=VARCHAR},
      </if>
      <if test="ownersName != null" >
        owners_name = #{ownersName,jdbcType=VARCHAR},
      </if>
      <if test="ownersSex != null" >
        owners_sex = #{ownersSex,jdbcType=VARCHAR},
      </if>
      <if test="ownersPhone != null" >
        owners_phone = #{ownersPhone,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
    </set>
    where owners_id = #{ownersId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pms.pojo.Owner" >
    update owners
    set owners_email = #{ownersEmail,jdbcType=VARCHAR},
      owners_password = #{ownersPassword,jdbcType=VARCHAR},
      owners_name = #{ownersName,jdbcType=VARCHAR},
      owners_sex = #{ownersSex,jdbcType=VARCHAR},
      owners_phone = #{ownersPhone,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER}
    where owners_id = #{ownersId,jdbcType=INTEGER}
  </update>
</mapper>