<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.dao.SuggestMapper" >
  <resultMap id="BaseResultMap" type="com.pms.pojo.Suggest" >
    <id column="suggest_id" property="suggestId" jdbcType="INTEGER" />
    <result column="suggest_content" property="suggestContent" jdbcType="VARCHAR" />
    <result column="suggest_time" property="suggestTime" jdbcType="TIMESTAMP" />
    <result column="suggest_handle_time" property="suggestHandleTime" jdbcType="TIMESTAMP" />
    <result column="suggest_handle_result" property="suggestHandleResult" jdbcType="VARCHAR" />
    <result column="owners_id" property="ownersId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    suggest_id, suggest_content, suggest_time, suggest_handle_time, suggest_handle_result, 
    owners_id, admin_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from suggest
    where suggest_id = #{suggestId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from suggest
    where suggest_id = #{suggestId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pms.pojo.Suggest" >
    insert into suggest (suggest_id, suggest_content, suggest_time, 
      suggest_handle_time, suggest_handle_result, 
      owners_id, admin_id)
    values (#{suggestId,jdbcType=INTEGER}, #{suggestContent,jdbcType=VARCHAR}, #{suggestTime,jdbcType=TIMESTAMP}, 
      #{suggestHandleTime,jdbcType=TIMESTAMP}, #{suggestHandleResult,jdbcType=VARCHAR}, 
      #{ownersId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pms.pojo.Suggest" >
    insert into suggest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suggestId != null" >
        suggest_id,
      </if>
      <if test="suggestContent != null" >
        suggest_content,
      </if>
      <if test="suggestTime != null" >
        suggest_time,
      </if>
      <if test="suggestHandleTime != null" >
        suggest_handle_time,
      </if>
      <if test="suggestHandleResult != null" >
        suggest_handle_result,
      </if>
      <if test="ownersId != null" >
        owners_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suggestId != null" >
        #{suggestId,jdbcType=INTEGER},
      </if>
      <if test="suggestContent != null" >
        #{suggestContent,jdbcType=VARCHAR},
      </if>
      <if test="suggestTime != null" >
        #{suggestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestHandleTime != null" >
        #{suggestHandleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestHandleResult != null" >
        #{suggestHandleResult,jdbcType=VARCHAR},
      </if>
      <if test="ownersId != null" >
        #{ownersId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pms.pojo.Suggest" >
    update suggest
    <set >
      <if test="suggestContent != null" >
        suggest_content = #{suggestContent,jdbcType=VARCHAR},
      </if>
      <if test="suggestTime != null" >
        suggest_time = #{suggestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestHandleTime != null" >
        suggest_handle_time = #{suggestHandleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestHandleResult != null" >
        suggest_handle_result = #{suggestHandleResult,jdbcType=VARCHAR},
      </if>
      <if test="ownersId != null" >
        owners_id = #{ownersId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
    </set>
    where suggest_id = #{suggestId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pms.pojo.Suggest" >
    update suggest
    set suggest_content = #{suggestContent,jdbcType=VARCHAR},
      suggest_time = #{suggestTime,jdbcType=TIMESTAMP},
      suggest_handle_time = #{suggestHandleTime,jdbcType=TIMESTAMP},
      suggest_handle_result = #{suggestHandleResult,jdbcType=VARCHAR},
      owners_id = #{ownersId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER}
    where suggest_id = #{suggestId,jdbcType=INTEGER}
  </update>
</mapper>